{% extends "base.html" %}

{% block title %}Bienvenido/a{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <h1>Hola {{ user.username }}</h1>
        <a href="{% url 'sign_out' %}">Cerrar sesión</a>
    {% else %}
        <a href="{% url 'sign_up' %}">Registrarte</a>
        <a href="{% url 'sign_in' %}">Iniciar sesión</a>
    {% endif %}
    
{% endblock content %}