{% extends "base.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
    <center>
    	<form method="POST">
	        {% csrf_token %}
	        {{ form.as_p }}
	        <input type="submit" name="submit">
	    </form>
	</center>

{% endblock content %}